---

---

<html lang="en">
	<head>
		<script>
			(function() {
			  const base = document.createElement('base');
			  if (window.location.hostname === 'jmanlarkin.github.io') {
				base.href = '/astro_tut/';
			  } else {
				base.href = '/';
			  }
			  document.head.appendChild(base);
			})();
		  </script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>photosinprogress</title>
	</head>
	<body>
		<style>
			/* Basic styling */
			ul {
			  list-style-type: none;
			  padding: 0;
			}
			
			li {
			  display: inline;
			  margin-right: 20px;
			}
			
			a {
			  text-decoration: none;
			  color: #007BFF;
			}
			
			a:hover {
			  color: #0056b3;
			}
		  </style>
		<ul>
            <li><a href="">home</a></li>
            <li><a href="about/">about</a></li>
			<li><a href="photography/">photography</a></li>
        </ul>

		<h1>photosinprogress</h1>
	</body>
</html>
