---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "photography"
---
<BaseLayout pageTitle={pageTitle}>
	<h1>projects</h1>
  <p>This is where the photos will go. Eventually!</p>
</BaseLayout>