---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./thoughts/*.md', { eager: true }));
const pageTitle = "thoughts"
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul>
    {allPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url}/>)}
  </ul>
</BaseLayout>