---
import Navigation from "./Navigation.astro"
import Hamburger from "./Hamburger.astro"
---
<header class="header">
    <img src="../../head/Logo.jpeg" alt="Site Logo" class="logo" />
    <!-- <h1>photosinprogress</h1>
    <style>
        h1 {
            text-align: center;
        }
    </style> -->
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
